<%= form_with(model: data_analytic, local: true, multipart: true) do |form| %>
  <% if data_analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_analytic.errors.count, "error") %> prohibited this data_analytic from being saved:</h2>

      <ul>
      <% data_analytic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Upload File to count first name" %>
    <%= file_field_tag :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
