<p id="notice"><%= notice %></p>

<h1>Data Analytics</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_analytics.each do |data_analytic| %>
      <tr>
        <td><%= data_analytic.first_name %></td>
        <td><%= data_analytic.count %></td>
        <td><%= link_to 'Show', data_analytic %></td>
        <td><%= link_to 'Edit', edit_data_analytic_path(data_analytic) %></td>
        <td><%= link_to 'Destroy', data_analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Analytic', new_data_analytic_path %>
