<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @data_analytic.first_name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @data_analytic.count %>
</p>

<%= link_to 'Edit', edit_data_analytic_path(@data_analytic) %> |
<%= link_to 'Back', data_analytics_path %>
